.Article {
    display: flex;
    justify-content: center;
}

.Markdown {
    min-width: 20rem;
    max-width: 40vw;
    display: flex;
    align-content: center;
    flex-direction: column;
}
.Markdown h1 {
    color: var(--light-text2);
}

img {
    width: 100%;
}