.Home {
    display: flex;
    justify-content: center;
}

.Featured {
    max-width: 50rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.FeaturedItem {
    width: 15rem;
    height: 15rem;
    background-color: var(--card-color);
    color: var(--dark-text1);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
}

.FeaturedItem p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.FeaturedItem:hover {
    /* text-decoration: underline; */
    transition-duration: 0.05s;
    transform: translate(0, -1rem);
}