

.Featured {
    padding: 5vh 30vw;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.FeaturedItem {
    width: 15rem;
    min-width: 15rem;
    height: 15rem;
    background-color: white;
    color: black;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
}

.FeaturedItem p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.FeaturedItem:hover h2 {
    /* text-decoration: underline; */
    color: rgb(50, 0, 116);;
    transition-duration: 0.05s;
}