

.Featured {
    padding: 5vh 30vw;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.FeaturedItem {
    width: 15rem;
    min-width: 15rem;
    height: 15rem;
    background-color: var(--card-color);
    color: var(--dark-text1);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
}

.FeaturedItem p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.FeaturedItem:hover {
    /* text-decoration: underline; */
    transition-duration: 0.05s;
    box-shadow: 0 0 0.27rem 0.27rem var(--dark-color1);
}