.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dark-color1);
    /* padding: 0 30%; */
}

.Navbar div {
    display: flex;
    justify-content: flex-start;
}
@media only screen and (max-width: 438px) {
    .Navbar div {
        flex-direction: column;
    }
}
@media only screen and (min-width: 438px) {
    .Navbar div {
        flex-direction: row;
    }
}

.SectionLink {
    flex: 0 0 auto;
    color: var(--light-text2);
    margin: 0 1rem;
    text-decoration: none;
}

.SectionLink:hover {
    color: var(--light-accent1);
    transition-duration: 0.2s;
}

.Geo {
    margin: 0 1rem;
}