.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30vw;
}

.Navbar div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.SectionLink {
    flex: 0 0 auto;
    color: var(--light-text1);
    margin: 0 1rem;
    text-decoration: none;
}

.SectionLink:hover {
    color: var(--light-accent1);
    transition-duration: 0.2s;
}

.Geo {
    margin: 0 1rem;
}