:root {
    --dark-background: rgb(37, 19, 19); /* was rgb(60, 60, 60) */
    
    --dark-color1: rgb(44, 44, 44); /* was rgb(50, 0, 116) */

    --light-accent1: rgb(238, 199, 127); 

    --light-text1: white;

    --dark-text1: black;

    --card-color: white;
}


body {
    background-color: var(--dark-background);
    color: var(--light-text1);
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Content {
    min-height: 85vh;
}