:root {
    --dark-background: rgb(20, 20, 20); /* was rgb(60, 60, 60) */
    
    --dark-color1: rgb(10, 59, 87); /* was rgb(10, 80, 87) */

    --dark-color2: rgb(44, 44, 44);

    --light-accent1: rgb(36, 191, 251); /* was rgb(36, 191, 251) */

    --light-text1: rgb(195, 195, 195);

    --light-text2: white;

    --dark-text1: black;

    --card-color: white;
}


body {
    background-color: var(--dark-background);
    color: var(--light-text1);
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}